/* 导入Poppins字体 */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=Swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
}

span,
input,
i,
a,
div {
    font-size: 16px;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23242a;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 3.8rem;
    height: 4.2rem;
    background-color: #1c1c1c;
    border-radius: .08rem;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    /* 以下三行语句是为了以盒子的一个角为中心旋转 */
    /* top和left将盒子的右下角移动到原盒子中心 */
    /* transform-origin设置右下角为旋转中心 */
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    width: 3.8rem;
    height: 4.2rem;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 3.8rem;
    height: 4.2rem;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    /* 延时实现对称 */
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    border-radius: .08rem;
    inset: .02rem;
    z-index: 10;
    background-color: #1c1c1c;
    padding: .5rem .4rem;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
}

.form h2 {
    text-align: center;
    font-size: .22rem;
    color: #45f3ff;
    font-weight: 500;
    letter-spacing: .02rem;
}

.form .inputBox {
    position: relative;
    width: 3rem;
    margin-top: .4rem;
    /* background-color: pink; */
}

.form .inputBox input {
    position: relative;
    width: 100%;
    padding: .2rem .1rem .1rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: .01rem;
    color: #23242a;
}

.form .inputBox>span {
    position: absolute;
    left: 0;
    padding: .2rem .1rem .1rem;
    color: #8f8f8f;
    transition: .5s;
    pointer-events: none;
    letter-spacing: .01rem;
}

/* ~是兄弟选择器,这里 input和span是兄弟关系 */
.form .inputBox input:hover~span,
.form .inputBox input:valid~span {
    color: #45f3ff;
    transform: translateY(-0.3rem) translateX(-0.1rem);
    font-size: .75em;
}

.inputBox>i {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .02rem;
    background-color: #45f3ff;
    border-radius: .04rem;
    pointer-events: none;
    transition: .5s;
    z-index: -1;
}

.form .inputBox input:hover~i,
.form .inputBox input:valid~i {
    height: .35rem;
}

.form .inputBox p {
    position: absolute;
    font-size: .14rem;
    color: #fff;
    margin-top: .1rem;
    transition: .3s;
}

li {
    list-style: none;
    font-size: 16px;
}

.wordPower {
    position: absolute;
    bottom: -0.3rem;
    height: 20px;
    width: 100%;
}

.inputBox .wordPower ul {
    float: left;
}

.inputBox .wordPower li {
    float: left;
    width: .7rem;
    height: .2rem;
    background-color: #66ffe6;
}


.inputBox .wordPower li>i:first-child {
    float: left;
    border-top: .2rem solid #1c1c1c;
    border-right: .2rem solid transparent;
}

.inputBox .wordPower li>i:last-child {
    float: right;
    border-top: .2rem solid transparent;
    border-right: .2rem solid #1c1c1c;
}

.hidden {
    display: none;
}

.inputBox .wordPower span {
    float: right;
    margin-right: .2rem;
    font-size: 14px;
    height: .2rem;
    line-height: .2rem;
    color: #fff;
}

.form .links {
    display: flex;
    justify-content: space-between;
    margin-top: .15rem;
    transition: .3s;

}

.form .links a {
    margin-left: .1rem;
    color: #8f8f8f;
    font-size: .14rem;
}

.form .links a[href] {
    color: #45f3ff;
}

.form .links.active {
    transform: translateY(20px);
}

.form>a {
    display: block;
    width: 50%;
    font-size: .18rem;
    padding: .1rem;
    text-align: center;
    border-radius: .1rem;
    margin: .3rem auto;
    background-color: #45f3ff;
    color: #1c1c1c;
    transition: .3s;
}

.form>a:hover {
    box-shadow: 0px 0px 8px #fff;
}